body {
  margin: 0;
}

.app {
  display: flex;
}

.side-bar-container {
  background-color: antiquewhite;
  width: 240px;
  height: 100vh;
  padding-top: 8px;
  padding-left: 8px;
}

.content-container {
  width: calc(100% - 240px);
  height: 100vh;
  overflow-y: auto;
}

.content-top-bar {
  background-color: aqua;
  width: 100%;
  height: 45px;
}

.editor {
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: calc(45px + 10%);
  display: flex;
  flex-direction: column;
}

.side-bar-content-block div {
  padding-left: 10px;
}

.side-bar-content-block {
  padding-bottom: 10px;
}

.none-data {
  display: none;
}

input {
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 40px;
}
input:focus {
  outline: none;
}

.hide + .side-bar-content-block {
  display: none;
}

.editor-content-container {
  min-height: 100px;
}
.editor-content-container:focus {
  outline: none;
}
.editor-content {
  min-height: 21px;
  padding: 5px 10px;
}

.h1 {
  font-size: 32px;
  font-weight: bold;
}

.h2 {
  font-size: 24px;
  font-weight: bold;
}

.h3 {
  font-size: 19px;
  font-weight: bold;
}

.find-title {
  position: fixed;
  width: 300px;
  height: 200px;
  background-color: antiquewhite;
  overflow-y: auto;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  margin: 1rem;
}

.find-title:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.document:hover {
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

button {
  all: unset;
  background-color: bisque;
  width: 20px;
  text-align: center;
  border: 1px solid white;
}

button:hover {
  background-color: cornsilk;
}

@keyframes myAlert {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.alert {
  position: absolute;
  left: 40%;
  right: 30%;
  top: 50px;
  min-width: 30%;
  min-height: 60px;
  text-align: center;
  color: white;
  font-weight: bold;

  animation-name: myAlert;
  animation-duration: 1s;

  display: flex;
  flex-direction: column;
}

.alert-top-div {
  display: flex;
  justify-content: end;
}

.alert-close-button {
  left: 40%;
  width: 20px;
  height: 20px;
}
